TravisCI.xcodeproj/project.xcworkspace
TravisCI.xcodeproj/xcuserdata
TravisCI.xcworkspace/xcuserdata/
build
integration/pusher_secret_key.txt
integration/results
integration/*.js
instrumentscli*
bundler_bin
Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad
integration/tmp
