TravisCI.xcodeproj/project.xcworkspace
TravisCI.xcodeproj/xcuserdata
TravisCI.xcworkspace/xcuserdata/
build
automation/pusher_secret_key.txt
automation/results
automation/*.js
instrumentscli*
bundler_bin
