TravisCI.xcodeproj/project.xcworkspace
TravisCI.xcodeproj/xcuserdata
build
TravisCI.xcworkspace/xcuserdata/bendyworks.xcuserdatad/UserInterfaceState.xcuserstate
TravisCI.xcworkspace/xcuserdata/bendyworks.xcuserdatad/xcdebugger/
